{% extends 'basic.html' %}
{% block body %}
{% load static %}
<section id="social-media">
      <div class="container text-center">
        <p>FIND US ON SOCIAL MEDIA</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/"><img src = "{% static 'images/fb-logo(1).png' %}" /></a>
          <a href="https://www.instagram.com/"><img src = "{% static 'images/fb-logo(2).png' %}" /></a>
          <a href="https://www.twitter.com/"><img src = "{% static 'images/fb-logo(4).png' %}" /></a>
        </div>
      </div>
</section>
{% endblock %}